/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	font-size: 12;
	fontFamily: "Microsoft YaHei,simsun";
}

mx|ToolTip
{
	font-size: 12;
}
	